body {
background-image:
linear-gradient(to right, rgba(149, 147, 145, 1) 0%, 12.64880895614624%, rgba(214, 180, 170, 1) 25.29761791229248%, 43.60498487949371%, rgba(151, 151, 149, 1) 61.912351846694946%, 80.95617592334747%, rgba(163, 72, 86, 1) 100%);
color : #ee008e;

}

.header{
	text-align: center;
	margin-bottom: 45px;
}

h1{
	font-family: 'Mr Dafoe', cursive;
	color: #ee008e;
	text-shadow: 1.5px 1.5px 3px #ee008e;

	font-size: 75px;
}

.container{
	width: 80%;
	box-shadow: black;
    -webkit-box-shadow: 3px 4px 15px 3px #ee008e;
	border-radius: 5px;
	padding: 30px;
	background-color: rgb(255, 255, 255, 0.2);
}

span {
	color: rgb(239, 235, 255);
	padding: 5px;
	border-radius: 3px;

    display: inline-block;
}


#input {
	width : 100%;
}

#input{
	border: none;
	border-radius: 12px;
	height: 50px;

}


#bot, #user{
	padding: 20px 0px 20px;
}


#bot-response{
background-color:	lightpink;
color: black;

}

#user-response{
background-color: lightblue;
color: white;
text-align: right;
float : right;

}

#bot-response, #user-response{
font-size: 15px;
font-family: "Helvetica Neue", sans-serif;
border-radius: 12px;
margin-bottom: 20px;

}


/* Welcome BUBBLE */

.comments{
	height: 50%;
	margin: 0 auto;
	top: 10%;
	width: 100%;

}

.comments .comment {
	margin-bottom: 20px;
	margin: 0 auto;
	width: 70%;

}

.comments .comment p{
	margin: 0 0 10px 0;
	font-size: 1em;
}

.bubble{
	background-color: rgb(107, 245, 169);
	border-radius: 30px;
	color: #222;
	padding: 20px;
	transform: (-50%, -50%);
	animation: pulse 0.6s ease-in;
}

.bubble::before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 26px solid rgb(107, 245, 169);
	border-bottom: 23px solid transparent;
	margin: 13px 0 0 -35px;
	animation: pulse 0.6s ease-in;


}

.bubble::after{
	content: "";
	position: absolute;
	transform: skewY(20deg);
	transform-origin: 100% 100%;
	animation: pulse 0.6s ease-in;

}

.img-thumbnail{
	border: none;
	width: 30%;
	border: none;
}

#welcomepage .btn{
	background-color: rgb(219, 40, 70);
	border-radius: 50px;
	text-decoration: none;
	color: white;
	font-size: 13px;
	border: none;
	top: 25%;
	animation: fadeIn ease-in 1.5s;
	-webkit-animation: fadeIn ease-in 1.5s;
	-moz-animation: fadeIn ease-in 1.5s;
	-o-animation: fadeIn ease-in 1.5s;
	-ms-animation: fadeIn ease-in 1.5s;
}



@keyframes pulse{
	0%  {transform: scale(0);}
	25%  {transform: scale(0.9);}
	75%  {transform: scale(1.1);}
  }


@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

/* audio */
#notifypop{ display:none;}
audio {display: none;}
